<desk-window>
  <desk-titlebar titlebar-action></desk-titlebar>
  <div style="flex: 1; padding: 50px">
    <div nz-form>
      <nz-form-item nz-row>
        <nz-form-label nz-col nzFlex="100px" nzRequired>数据文件</nz-form-label>
        <nz-form-control nz-col nzFlex="auto">
          <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
            <input nz-input readonly [ngModel]="filePath" />
          </nz-input-group>

          <ng-template #addOnAfterTemplate>
            <a class="btn-file" (click)="onOpenFileDialog()">文件...</a>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <div nz-col nzFlex="100px"></div>
        <nz-form-control nz-col nzFlex="auto">
          <nz-space>
            <desk-progress-circle *nzSpaceItem></desk-progress-circle>
            <button *nzSpaceItem nz-button nzType="primary" (click)="onSubmit()">计算</button>
          </nz-space>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</desk-window>
